.alert {
  position: relative;
  top: 4rem;
  right: 2.5rem;
}

.emailSvg {
  font-size: 1.7rem !important;
  position: relative;
  top: 3px;
}

@media only screen and (max-width: 996px) {
  .emailSvg {
    left: 10px;
  }
}
