.alert {
  position: absolute;
  top: 4rem;
  margin-left: -14rem;
}

.emailSvg:hover {
  opacity: 0.6;
}

.emailSvg {
  font-size: 1.7rem !important;
  position: relative;
  top: 3px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 996px) {
  .emailSvg {
    left: 2px;
    top: 10px;
  }
}
